* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.four-tables {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}

.table-container {
  background: #fff;
  width: 400px;
  border-radius: 5px;
  height: 220px;
}

.title-bar {
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.window-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 8px;
  padding: 3px;
  display: inline-block;
  color: #707070;
  margin-left: 10px;
}

.table-container hr {
  color: rgb(250, 246, 246);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.table-container .line {
  border-top: 1px solid #eee;
}

.control-btn {
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 20px;
  padding: 3px;
}

.control-btn button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  outline: 0;
  border: 0;
  margin: 2px;
}

.close-btn {
  background: rgb(204, 34, 34);
  color: rgb(204, 34, 34);
}

.close-btn:hover {
  background: rgb(236, 16, 16);
}

.maximize-btn {
  background: rgb(224, 203, 7);
  color: rgb(224, 203, 7);
}

.maximize-btn:hover {
  background: rgb(246, 222, 4);
}

.minimize-btn {
  background: rgb(16, 172, 24);
  color: rgb(16, 172, 24);
}

.minimize-btn:hover {
  background: rgb(14, 233, 25);
}

.prevent-select {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
