body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

body * {
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.container {
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}
