* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 45px 1fr;
    grid-template-areas: "box1 box2" "box3 box3"
}

.box1 {
    background: #ffe711;
}

.box2 {
    background: rgb(255, 255, 255);
    display: flex;
}

.box3 {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "side-menu-bar content-area"
}



.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.side-menu-bar {
    grid-area: side-menu-bar;
    background: brown;
}

.content-area {
    background: #e8e9ec;
    grid-area: content-area;
}

.user-notification {
    display: flex;
}

.pipe {
    border-right: 2px solid #e8e9ec;
    height: 30px;
    margin: 8px 14px 10px 0px;
}

.school-icon {
    margin: 5px 20px;
}

.school-name {
    margin: 10px 0 10px 30px;
    color: #fff;
}

.yakoSM {
    font-size: 25px;
    font-weight: 300;
    width: 150px;
    color: #707070;
    margin: 10px 10px 10px 55px;
    vertical-align: center;
}

.tm {
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 11px;
    text-align: center;
    color: #707070;
    position: relative;
    font-weight: 200;
    top: 6px;
    left: -80px;
}

.search-area {
    background: #e8e9ec;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 280px;
    height: 25px;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 30px;
    padding: 2px;
}

.search-area input[type="search"] {
    color: #707070;
    background: transparent;
    outline: none;
    border: none;
    width: 82%;
    margin: 1px 5px 1px 10px;
}

.search-area img {
    margin-top: 5px;
}

.grey-circle {
    background: #e8e9ec;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 50%;
    padding: 7px;
}

.grey-circle a {
    text-decoration: none;
}

.user-img {
    background: url('../img/me.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    margin: 7px 14px 8px 0px;
}

.counter {
    display: inline-block;
    background: #3686FF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    color: #fff;
    position: relative;
    font-weight: 200;
    top: 5px;
    left: -15px;
}

.counter-yellow {
    display: inline-block;
    background: #ffe711;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    color: #fff;
    position: relative;
    font-weight: 200;
    top: 5px;
    left: -15px;
}

.user-area {
    margin: 3px 10px 0px 0px;
}

.user-name {
    top: 5px;
    font-size: 0.9rem;
    font-weight: 300;
    width: 110px;
}

.user-type {
    color: #707070;
    font-size: 0.7rem;
    width: 110px;
}

.fa-search {
    margin-top: 2px;
}

.user-notification .fa-angle-down {
    margin-top: 15px;
    color: #192060;
}

.fa-search {
    color: #192060;
}

.fa-bell {
    color: #192060;
}

.fa-envelope {
    color: #192060;
}

