#side-menu-bar {
    background: #302D43;
    width: 250px;
    position: absolute;
    height: 635px;
}

#side-menu-bar nav {
    padding-top: 10px;
}

#side-menu-bar nav a {
    display: block;
    text-decoration: none;
    padding: 15px 30px;
    color: #EAEDF3;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

#side-menu-bar nav a:hover {
    background: #282639;
    border-left: 5px solid #92CF48;
    padding: 15px 30px 15px 25px;
}

#side-menu-bar nav .active {
    background: #282639;
    border-left: 5px solid #92CF48;
    padding: 15px 30px 15px 25px;
}

.logout {
    margin-top: 80px;
}

.fa-chart-bar {
    color: #ffe711;
    margin-right: 15px;
}

.fa-user-tie {
    color: #ffe711;
    margin-right: 15px;
}

.fa-user-graduate {
    color: #ffe711;
    margin-right: 15px;
}

.fa-users {
    color: #ffe711;
    margin-right: 15px;
}

.fa-credit-card {
    color: #ffe711;
    margin-right: 15px;
}

.fa-user-friends {
    color: #ffe711;
    margin-right: 15px;
}

.fa-file-alt {
    color: #ffe711;
    margin-right: 22px;
}

.fa-user-check {
    color: #ffe711;
    margin-right: 15px;
}

.fa-file {
    color: #ffe711;
    margin-right: 22px;
}

.fa-truck {
    color: #ffe711;
    margin-right: 12px;
}

.fa-sign-out-alt {
    color: #ffe711;
    margin-right: 15px;
}